<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <style>
        .login-container { max-width: 300px; margin: 100px auto; text-align: center; }
        .form-group_1, .form-group_2 { margin-bottom: 15px; }
        .submit_button {width: 60px; height: 20px;}
        </style>
</head>
<body>
    <a href="{% url 'product_list' %}">вход как гость</a>
    <div class = "login_container">
        <h2>Авторизация</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Выведет поля внутри тегов <p> с их названиями -->
    <button type="submit">Войти</button>
</form>



    </div>
</body>
</html>