<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <style>
        .login-container { max-width: 300px; margin: 100px auto; text-align: center; }
        .form-group_1, .form-group_2 { margin-bottom: 15px; }
        .submit_button {width: 60px; height: 20px;}
        </style>
</head>
<body>
    <a href="{% url 'product_list' %}">вход как гость</a>
    <div class = "login_container">
        <h2>Авторизация</h2>
        <form method = "post">
            {% csrf_token %}

            <div class = "form-group_1">
                {{form.username.label.tag}}<br>
                {{form.username}}
            </div>
            <div class = "form-group_2">
                {{form.password.label.tag}}<br>
                {{form.password}}
            </div>
            <button class = 'submit_button' type="submit"></button>
        </form>


    </div>
</body>
</html>